@import "../resources/css/base.css";
@import "../resources/css/cards.css";

.window-root {
  padding: 75px 0;

  .news-post {
    width: 100%;
    display: flex;
    gap: 20px;

    flex-direction: column;
    align-items: flex-end;

    .news-comments {
      width: 725px;
      display: flex;

      flex-direction: column;
      align-items: flex-end;
      gap: 20px;
    }
  }
}