@use "sizes.scss" as *;
@import "../css/fonts.css";

#bodyContent {
  flex: 1 1 auto;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr $desktop-width 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "left-header-side header right-header-side" "left-window-side window right-window-side";

  font-family: "Neue Haas Unica";
  font-weight: 400;
  font-size: 15px;

  [desktop] {
    display: initial;
  }

  [mobile] {
    display: none;
  }

  @media (max-width: $desktop-width) {
    grid-template-columns: 0 100vw 0;

    [desktop] {
      display: none;
    }

    [mobile] {
      display: initial;
    }
  }
}