@import "fonts.css";
@import "colors.css";

/* @property - read about it */

.button {
  --button-background: var(--background-neutral-1);
  --button-text: var(--text-primary-on-accent);
  --button-border: transparent;

  display: flex;
  align-items: center;

  background-color: var(--button-background);
  border: thin solid var(--button-border);
  outline: none;

  color: var(--button-text);

  &.small {
    height: 32px;
    width: fit-content;
  }

  &.medium {
    height: 44px;
    flex: 1 1 auto;
  }

  &.primary {
    --button-background: var(--day-background-accent-1);
    --button-text: var(--text-primary-on-accent-1);

    padding: 10px;
    border-radius: 8px;

    font-size: 15px;
  }

  &.secondary {
    --button-text: var(--text-action-1);

    padding: 10px;
    border-radius: 8px;

    font-size: 15px;
  }

  &.clear {
    --button-background: transparent;
    --button-text: var(--text-secondary-1);

    height: 100%;
    padding: 8px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
  }

  &.outline {

  }

  &.tag {

  }

  /* &:disabled {
  } */

  &:not(:disabled) {
    @media screen and (hover: hover) {
      &:hover {
        --button-background: var(--background-neutral-2);

        &.primary {
          --button-background: var(--day-background-accent-2);
        }
      }
    }

    &:focus {
      --button-border: var(--background-neutral-3);
    }

    &:active {
      &.primary {
        --button-background: var(--day-background-accent-3);
      }

      &.secondary {
        --button-background: var(--background-neutral-3);
      }

      &.clear {
        --button-border: var(--background-neutral-3);
      }
    }
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: border-color .2s linear, background-color .2s linear, color .2s linear;
  }
}