@import "fonts.css";
@import "colors.css";

/* @property - read about it */

.button {
  --button-background: var(--background-neutral-1);
  --button-text: var(--text-primary-on-accent);
  --button-border: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-weight: inherit;

  background-color: var(--button-background);
  border: 1px solid var(--button-border);
  outline: none;
  color: var(--button-text);

  user-select: none;

  &.small {
    height: 32px;
    width: fit-content;
  }

  &.medium {
    height: 44px;
    flex: 1 1 auto;
  }

  &.primary {
    --button-background: var(--background-accent-1);
    --button-text: var(--text-primary-on-accent-1);

    padding: 10px;
    border-radius: 8px;

    font-size: 15px;
  }

  &.secondary {
    --button-text: var(--text-action-1);

    padding: 10px;
    border-radius: 8px;

    font-size: 15px;

    &.checkable {
      display: none;

      & ~ .button-content {
        --button-background: var(--background-neutral-1);
        --button-text: var(--text-action-1);
        --button-border: transparent;

        display: block;
        padding: 10px;
        border-radius: 8px;

        background-color: var(--button-background);
        border: 1px solid var(--button-border);
        color: var(--button-text);

        user-select: none;
      }

      &:checked ~ .button-content {
        --button-background: transparent;
        --button-border: var(--border-normal-1);
      }
    }
  }

  &.clear {
    --button-background: transparent;
    --button-text: var(--text-secondary-1);

    height: 100%;
    padding: 8px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
  }

  &.filter {
    display: none;

    & ~ .button-content {
      --button-background: transparent;
      --button-text: var(--text-primary-1);
      --button-border: var(--border-normal-1);

      display: block;
      padding: 10px;
      border-radius: 8px;

      background-color: var(--button-background);
      border: 2px solid var(--button-border);
      color: var(--button-text);

      user-select: none;
    }

    &:checked ~ .button-content {
      --button-border: var(--background-accent-1);
    }
  }

  /* &:disabled {
  } */

  &:not(:disabled) {
    @media screen and (hover: hover) {
      &:hover, &:hover ~ .button-content {
        --button-background: var(--background-neutral-2);

        &.primary {
          --button-background: var(--background-accent-2);
        }

        &.filter ~ .button-content {
          --button-background: var(--background-neutral-1);
        }
      }
    }

    &:focus, &:focus ~ .button-content {
      --button-border: var(--background-neutral-3);
    }

    &:active, &:active ~ .button-content {
      &.primary {
        --button-background: var(--background-accent-3);
      }

      &.secondary {
        --button-background: var(--background-neutral-3);
      }

      &.clear {
        --button-border: var(--background-neutral-3);
      }
    }
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: border-color .2s linear, background-color .2s linear, color .2s linear;
  }
}

.button-content {
  @media screen and (prefers-reduced-motion: no-preference) {
    transition: border-color .2s linear, background-color .2s linear, color .2s linear;
  }
}