:root {
  --background-neutral-1: rgba(246, 247, 248, 1);
  --background-neutral-2: rgba(36, 74, 127, 0.06);
  --background-neutral-3: rgba(36, 74, 127, 0.14);
  --background-elevation-1: rgba(255, 255, 255, 1);
  --background-accent-1: rgba(255, 221, 45, 1);
  --background-accent-2: rgb(248, 212, 29);
  --background-accent-3: rgb(241, 206, 28);
  
  --text-primary-1: rgba(0, 0, 0, 0.8);
  --text-primary-on-accent-1: rgba(51, 51, 51, 1);
  --text-secondary-1: rgba(0, 0, 0, 0.54);
  --text-secondary-2: rgb(146, 153, 162);
  --text-action-1: rgba(18, 109, 247, 1);

  --border-normal-1: rgba(0, 16, 36, 0.12);

  --shadow-medium-1: rgba(0, 0, 0, 0.12);
}