@import "colors.css";

.header-root {
  grid-area: header;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #d8dbdf;

  a {
    img {
      width: 29px;
    }
  }
}

.header-back {
  height: 60px;
  background-color: var(--background-neutral-1);
  grid-row: left-header-side / right-header-side;
  grid-column: left-header-side / right-header-side;
}