@font-face {
  font-family: "Tinkoff Sans";
  font-weight: 400;
  src: url("../fonts/Tinkoff\ Sans/TinkoffSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Tinkoff Sans";
  font-weight: 500;
  src: url("../fonts/Tinkoff\ Sans/TinkoffSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Tinkoff Sans";
  font-weight: 700;
  src: url("../fonts/Tinkoff\ Sans/TinkoffSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Neue Haas Unica";
  font-weight: 400;
  src: url("../fonts/Neue\ Haas\ Unica/neuehaasunicaw1g-regular.woff2") format("woff2");
}